<h1 class="govuk-heading-xl">Tell us about Croydon football community group</h1>

<p class="govuk-body">To get started, answer a few questions about your project.</p>

<%= form_for @application, data: { controller: 'auto-submit' }, html: { class: 'govuk-form' } do |form| %>
    <div class="form-section">
        <div class="govuk-form-group">
            <%= form.label :sport, class: 'govuk-label' %>
            <%= form.select :sport, options_for_select([
            "Football", "Basketball", "Tennis", "Baseball", "Cricket", 
            "Volleyball", "Swimming", "Track and Field", "Rugby", "Golf",
            "Boxing", "Wrestling", "Cycling", "Ice Hockey", "Field Hockey",
            "Table Tennis", "Badminton", "Skiing", "Snowboarding", "Surfing",
            "Rock Climbing", "Figure Skating", "Gymnastics", "Rowing", "Archery",
            "Fencing", "Judo", "Karate", "Water Polo", "Handball",
            "Ultimate Frisbee", "Lacrosse", "Polo", "Curling", "Bowling",
            "Squash", "Marathon Running", "Triathlon", "Weightlifting", "Diving",
            "Sailing", "Canoeing", "Beach Volleyball", "Cross Country", "Parkour",
            "Mixed Martial Arts", "Speed Skating", "Pickleball", "Equestrian", "Skateboarding"
            ]), {}, { class: 'govuk-select', data: { action: 'change->auto-submit#submit' } } %>
        </div>
        <%= render partial: 'sport' %>
    </div>

    <div class="form-section">
        <div class="govuk-form-group">
            <%= form.label :amount, "Amount you're applying for", class: 'govuk-label' %>
            <%= form.number_field :amount, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit' } %>
        </div>

        <div class="govuk-form-group">
            <%= form.label :people_count, "How many people will be impacted by this project?", class: 'govuk-label' %>
            <%= form.number_field :people_count, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit' } %>
        </div>

        <%= render partial: 'per_person' %>
    </div>

    <div class="form-section">
        <h2 class="govuk-heading-m">How much will your project reach the following groups?</h2>
        <% {
            low_income: "People living on low incomes",
            children: "Children aged 5-16",
            lgbtq: "LGBTQ+ people",
            older: "Older people"
        }.each_pair do |key, label| %>
            <div class="govuk-form-group">
                <%= form.label key, label, class: 'govuk-label' %>
                <%= form.range_field key, in: 0..10, step: 1, class: 'govuk-input', list: 'inactivity-options', data: { action: 'input->auto-submit#submit' } %>
                <datalist id="inactivity-options">
                    <option value="0">Not at all</option>
                    <option value="1">Some</option>
                    <option value="2">Mostly</option>
                    <option value="3">All</option>
                </datalist>
            </div>
        <% end %>
        <%= render partial: 'demographics' %>
    </div>

    <div class="form-section">
        <h2 class="govuk-heading-m">Location</h1>
        <div data-controller="map">
            <div class="govuk-form-group">
                <%= form.label :lat, "Latitude", class: 'govuk-label' %>
                <%= form.text_field :lat, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit', 'map-target': 'lat' } %>
            </div>
            <div class="govuk-form-group">
                <%= form.label :long, "Longitude", class: 'govuk-label' %>
                <%= form.text_field :long, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit', 'map-target': 'lng' } %>
            </div>

        </div>
        <%= render partial: 'location' %>
    </div>

    <%= render partial: 'score' %>
<% end %>