<%= form_for @application, data: { controller: 'auto-submit' } do |form| %>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="field">
        <%= form.label :amount %>
        <%= form.number_field :amount, data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <p>
        The average amount granted per application is £4000
    </p>

    <div class="field">
        <%= form.label :sport %>
        <%= form.text_field :sport, data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="field">
        <%= form.label :people_count %>
        <%= form.number_field :people_count, data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="field">
        <%= form.label :inactivity %>
        <%= form.number_field :inactivity, data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>