<%= form_for @application, data: { controller: 'auto-submit' }, html: { class: 'govuk-form' } do |form| %>
    <div class="govuk-form-group">
        <%= form.label :name, class: 'govuk-label' %>
        <%= form.text_field :name, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="govuk-form-group">
        <%= form.label :amount, class: 'govuk-label' %>
        <%= form.number_field :amount, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <p class="govuk-body <%= case (@application.amount - 4000).abs
                 when 0..1000 then 'govuk-tag--green'
                 when 1001..2000 then 'govuk-tag--orange'
                 else 'govuk-tag--red'
               end %>">
        The average amount granted per application is £4000
    </p>

    <div class="govuk-form-group">
        <%= form.label :sport, class: 'govuk-label' %>
        <%= form.text_field :sport, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="govuk-form-group">
        <%= form.label :people_count, class: 'govuk-label' %>
        <%= form.number_field :people_count, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="govuk-form-group">
        <%= form.label :inactivity, class: 'govuk-label' %>
        <%= form.number_field :inactivity, class: 'govuk-input', data: { action: 'keyup->auto-submit#submit' } %>
    </div>

    <div class="govuk-form-group">
        <%= form.submit class: 'govuk-button' %>
    </div>
<% end %>