<%= turbo_stream_from @application %>
<h1><%= @application.name %></h1>

<p>
    <strong>Amount:</strong>
    <%= @application.amount %>
</p>

<p>
    <strong>Sport:</strong>
    <%= @application.sport %>
</p>

<p>
    <strong>People count:</strong>
    <%= @application.people_count %>
</p>

<p>
    <strong>Inactivity:</strong>
    <%= @application.inactivity %>
</p>